<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Crms1"
        tools:targetApi="31">
        <activity
            android:name=".Viewstudent_companyActivity"
            android:exported="false" />
        <activity
            android:name=".Known_StudentActivity"
            android:exported="false" />
        <!--
           <activity
            android:name=".ViewStudent2Activity"
            android:exported="false" />
        -->
        <activity
            android:name=".ViewStudent"
            android:exported="false" />
        <activity
            android:name=".Viewjob2Activity"
            android:exported="false" />
        <activity
            android:name=".LoginAdminActivity"
            android:exported="false" />
        <activity
            android:name=".LoginCompanyActivity"
            android:exported="false" />
        <activity
            android:name=".SignupCompanyActivity"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".UploadActivity"
            android:exported="false" />
        <activity
            android:name=".viewcompanies"
            android:exported="false" />
        <activity
            android:name=".addcompany"
            android:exported="false" />
        <activity
            android:name=".addstudent"
            android:exported="false" />
        <!--
    <activity
            android:name=".viewstudent"
            android:exported="false" />
        -->
        <activity
            android:name=".addjob"
            android:exported="false" />
        <activity
            android:name=".ViewjobActivity"
            android:exported="false" />
        <activity
            android:name=".viewprofile"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".bodylanguage"
            android:exported="false" />
        <activity
            android:name=".logout"
            android:exported="false" />
        <activity
            android:name=".linkedin"
            android:exported="false" />
        <activity
            android:name=".resume"
            android:exported="false" />
        <activity
            android:name=".qa"
            android:exported="false" />
        <activity
            android:name=".admin"
            android:exported="false" />
        <activity
            android:name=".video"
            android:exported="false" />
        <activity
            android:name=".company"
            android:exported="false" />
        <activity
            android:name=".cv"
            android:exported="false" />
        <activity
            android:name=".student"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>